---
import Layout from '../layouts/Layout.astro';

// import Card from '@common/components/Card.astro';
import { Card } from 'multi-astro-common';
import { OtherCard } from 'multi-astro-common';

---

<Layout title="multi-astro-demo">
	<main>
		<h1>
			This is a page.
		</h1>
		<Card message="Hello world!" />
		<OtherCard message="Hello cruel world!" />
	</main>
</Layout>